.additionalDescription
  .additionalDescription__item.additionalDescription__item-category
    .additionalDescription__item-name Category
    .additionalDescription__item-value Architecture
  .additionalDescription__item.additionalDescription__item-photographyBy
    .additionalDescription__item-name Photography by
    .additionalDescription__item-value Shai Gil
  .additionalDescription__item.additionalDescription__item-writtenBy
    .additionalDescription__item-name Written by
    .additionalDescription__item-value Jillian Japka
  .additionalDescription__item.additionalDescription__item-publishedOn
    .additionalDescription__item-name Published on
    .additionalDescription__item-value 9 november 2017
