@import 'title';

.basicDescription {
  position: relative;
  left: 23%;
  height: 545px;
}


.basicDescription__about-it {
  width: 320px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  word-break: break-all;
  margin: 0;
  opacity: 1;
  transition: opacity 0.5s;
}

.basicDescription__about-it.hide {
  opacity: 0;
}

