.basicDescription
  .basicDescription__title
    .basicDescription__title_name Clearview
    .basicDescription__title_description Chalet
  .basicDescription__about-it
    | Nestled on the edge of the Notta&shy;wasaga Bay in Ontario, Canada, is the lovely Clearview Chalet.
    br
    | The stunning home was designed by AKB architect bureau.
