.slider {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.slider__item {
  position: relative;
  width: 100%;
  height: 700px;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: 120%;
  opacity: 0;
}

.slider__item.normalZoom {
  background-size: 101%;
  opacity: 1;
  transition: background-size 1s;
}

.slick-slide {
  outline: none
}
